@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../components/common/button/button.css";
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}

@layer components {
  .item-middle {
    @apply flex items-center justify-center;
  }
}
