html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  height: 100%;
  min-width: 1920px;
}

.swiper-slide {
  text-align: center;
  background: #fff;

  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
}
